<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.astraura.links" version="1.0.0">
  <name>Match Stars</name>
  <description>Match Stars (Nakshatra) for matrimony. South Indian Astrology.</description>
  <author href="http://astraura.org" email="matchcharts@gmail.com">Astraura Research Centre</author>
  <gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>
 <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.InAppBrowser" />
  </feature>
  <platform name="android">
  <allow-intent href="market:*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*">
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>    
  </platform>
</widget>
